.recipe-photo {
    height: 300px;
    width: auto;
}

.title{
    background-color: rebeccapurple;
}

.ingredients{
    background-color: black;
    color: white;
    font-size: 24px;
}

.subtitle{
    background-color: thistle;
}